.App {
  text-align: center;
}

.App-header {
  padding-left: 20px;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 1vmin);
  color: white;
  border-bottom: 1px solid white;
}

.App-main {
  padding-top: 10px;
  background-color: #535760;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
}

.App-link {
  color: #61dafb;
}
